.env
/helper-scripts



bin/
obj/

*.user
*.suo
*.userosscache
*.sln.docstates

.idea/
.vscode/
.vs/

wwwroot/dist/
wwwroot/node_modules/

**/Migrations/*.Designer.cs
**/Migrations/*.resx

secrets.json

tools/

*.log

.DS_Store
Thumbs.db
